{% load staticfiles %}

{% for item in footer_info %}
<footer class="footer">
    <div class="section section--content">
        <div class="footer__item">
            <h3>{{ item.header }}</h3>
        </div>
        <div class="footer__item">
            <h6>Locatie:</h6>
            <p>{{ item.locatie }}</p>
        </div>
        <div class="footer__item">
            <h6>Contact:</h6>
            <p>{{ item.contact }}</p>
        </div>
        <div class="footer__item">
            <ul>
                <h6>Tickets:</h6>
                <li>Early Birds: &euro; {{ item.ticket_early }}</li>
                <li>Regular Tickets: &euro; {{ item.ticket_regular }}</li>
                <li>Kids: &euro; {{ item.ticket_kids }}</li>
                <li>CJP-Pas: &euro; {{ item.ticket_cjp }}</li>
            </ul>
        </div>
        <div class="footer-social">
            <ul>
                <li><a href="{{ item.facebook_url }}" target="_blank" rel="noopener noreferrer"><img src="{% static 'icons/footer/facebook.svg' %}"/></a></li>
                <li><a href="{{ item.instagram_url }}" target="_blank" rel="noopener noreferrer"><img src="{% static 'icons/footer/instagram.svg' %}"/></a></li>
            </ul>
        </div>
    </div>
</footer>
{% endfor %}
